.header  {
  font-family: monospace;
  background: papayawhip;
  /* Añadido */
  padding: 8px; /* Separación entre el borde del header y su contenido */
  display: flex; /* Convierto el header en un contenedor flex */
  align-items: center; /* Alineo verticalmente los elementos del header */
  justify-content: space-between; /* Distribuyo el espacio entre los elementos del header */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  /* Añadido */
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
