.inverted,
.fancy{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
    border-radius: 30px;
}
 .inverted:hover,
 .fancy:hover{
    cursor: pointer;
    background-color: lightgreen;
 }

.inverted {
    background-color: black;
    color: white;
}

.fancy {
    background-color: yellow;
}